<!--
  1) display list of items (image & basic info)
  2) display a button to edit
  3) display a button to delete
 -->

<h1>My Gallery</h1>

<!-- Display Gallery -->
<table class="styled-table">
  <col style="width:30%">
  <col style="width:35%">
  <col style="width:20%">
  <col style="width:15%">
  <tr>
    <!-- <th>Object</th>
    <th>Object Information</th>
    <th>Update</th>
    <th>Delete</th> -->
  </tr>

  <tr *ngFor="let item of myGalleryList">
    <td> <img src="{{ item.primaryImage }}" style="width:auto;height:150px;"> </td>
    <td> {{item.visitedObject}} </td>
    <td><button class="btn-select" (click)="onMarkAsVisited(item.entryId)">Mark as Visited</button>
    <td><button class="btn-select" (click)="deleteGalleryItem(item.entryId)">Remove From My Gallery</button>
  </tr>

</table>
